.table-main-title {
  font-size: 1.5rem;
}

.title {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.button-wrapper {
  padding-bottom: 0.5rem;
}

.c-rona {
  height: 2rem;
  margin-bottom: 0.5rem;
}

.chart-wrapper {
  height: 150px;
}

.regija-image {
  width: 150px;
}
